/* FindPw.css */

.Forgot-Pw-container {
  margin: 100px auto;
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  top:30px;
}

.Forgot-Pw-h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.Forgot-Pw-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.Forgot-Pw-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.Forgot-Pw-button:hover {
  background-color: #0056b3;
}

.verification-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

/* 추가: Phone Verification 영역 스타일 */
.verification-container h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.Forgot-Pw-input {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}